<footer class="footer">

    <div class="container">

        <div class="row gy-5">

            <!-- Company -->

            <div class="col-lg-3 col-md-6">

                <img src="/images/logo.png"
                     class="footer-logo"
                     alt="Invitiq Logo">

                <p class="footer-about">

                    Building modern websites, digital experiences,
                    SEO strategies, and marketing solutions that help
                    businesses grow online.

                </p>

                <div class="social-icons">

                    <a [href]="service.facedbookUrl" target="_blank"  aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>

                    <a [href]="service.instagramUrl" target="_blank"  aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>

                    <a [href]="service.linkedInUrl" target="_blank"  aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>

                    <a [href]="service.xUrl" target="_blank"  aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>

                    <a [href]="service.whatsappUrl" target="_blank" aria-label="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
                </div>

            </div>



            <!-- Navigation -->

            <div class="col-lg-2 col-md-6">

                <h5>Navigation</h5>

                <ul>
                    <li>
                        <a routerLink="/" fragment="home">Home</a>
                    </li>

                    <li>
                        <a routerLink="/" fragment="why-section">Why Invitiq</a>
                    </li>

                    <li>
                        <a routerLink="/" fragment="services-section">Services</a>
                    </li>

                    <li>
                        <a routerLink="/" fragment="process-section">Process</a>
                    </li>

                    <li>
                        <a routerLink="/" fragment="faq-section">FAQ</a>
                    </li>

                    <li>
                        <a routerLink="/contact" routerLinkActive="active">
                            Contact
                        </a>
                    </li>
                </ul>

            </div>



            <!-- Future Pages -->

            <div class="col-lg-2 col-md-6">

                <h5>Explore</h5>

                <ul>

                    <li><a href="#">Portfolio</a></li>

                    <li><a href="#">Blog</a></li>

                    <li><a href="#">Case Studies</a></li>

                    <li><a href="#">Careers</a></li>

                    <li><a href="#">Resources</a></li>

                    <li><a href="#">Pricing</a></li>

                </ul>

            </div>



            <!-- Contact -->

            <div class="col-lg-2 col-md-6">

                <h5>Contact</h5>

                <ul class="contact-list">

                    <li>

                        <i class="fas fa-phone"></i>

                        +91 93639 90792

                    </li>

                    <li>

                        <i class="fas fa-envelope"></i>

                        info&#64;invitiq.com

                    </li>

                    <li>

                        <i class="fas fa-location-dot"></i>

                        Chennai, Tamil Nadu

                    </li>

                    <li>

                        <i class="fas fa-clock"></i>

                        Mon - Sat

                        <br>

                        9:00 AM - 6:00 PM

                    </li>

                </ul>

            </div>



            <!-- Contact Form -->

            <div class="col-lg-3">

                <h5>Quick Enquiry</h5>

                <form (ngSubmit)="submitEnquiry()">

                    <input
                        type="text"
                        class="form-control mb-3"
                        placeholder="Your Name"
                        [(ngModel)]="enquiry.name"
                        name="name"
                        required>

                    <input
                        type="email"
                        class="form-control mb-3"
                        placeholder="Email Address"
                        [(ngModel)]="enquiry.email"
                        name="email"
                        required>

                    <textarea
                        rows="4"
                        class="form-control mb-3"
                        placeholder="Tell us about your project..."
                        [(ngModel)]="enquiry.message"
                        name="message"
                        required></textarea>

                    <button
                        class="btn footer-btn w-100">

                        Send Enquiry

                    </button>

                </form>

            </div>

        </div>



        <hr>



        <div class="footer-bottom">

            <p>

                © 2026 Invitiq. All Rights Reserved.

            </p>

            <div>

                <a href="#">Privacy Policy</a>

                <a href="#">Terms & Conditions</a>

                <a href="#">Sitemap</a>

            </div>

        </div>

    </div>

</footer>