/* You can add global styles to this file, and also import other style files */
.green{
    color:#001d0b
}

.light-green{
    color:#227A48
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 190px;
}